<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd 
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd 
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
 
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:jdbc.properties"></property>
	</bean>
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	  	<property name="driverClassName" value="${driver}"/>
	  	<property name="url" value="${url}"/>
	  	<property name="username" value="${username}"/>
	  	<property name="password" value="${password}"/>
	  </bean>
	  	<!-- 根据mybatis的配置文件 来创建sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:mybatis.cfg.xml"/>
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
    	<constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
    </bean>
    <!-- 事务管理器 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
    </bean>
    <!-- 事务通知 -->
    <tx:advice id="txAdvice" transaction-manager="txManager">
    	<tx:attributes>
  		<!-- 表示以save开头的方法都需要事务      
  		propagation  表示事务的传播特性 
  		REQUIRED  查看当前是否有事务，如果有，使用当前事务，如果没有开启新事务
  		-->
  		<tx:method name="save*" propagation="REQUIRED"/>
  		<tx:method name="update*" propagation="REQUIRED"/>
  		<tx:method name="find*" read-only="true"/>
  		<tx:method name="*" propagation="REQUIRED"/>
  	</tx:attributes>
    </tx:advice>
    <aop:config>
		<!--expression  指明事务在哪里起作用
		第一个* 表示所有返回值 
		第二个* 表示所有类
		第三个* 表示类中的所有方法
		.. 表示所有参数
		  -->
		<aop:pointcut expression="execution(* cn.vincent.service.impl.*.*(..))" id="pointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
	</aop:config> 
	<context:component-scan base-package="cn.vincent"></context:component-scan>
 </beans>